body {
    background-color: rgba(0, 13, 48, 0.521);
}

section {
    border: 3px solid black;
    margin-top: 150px;
    margin-left: 40%;
    width: 220px;
    height: 310px;
    border-radius: 5%;
    background-color: rgba(148, 148, 148, 0.87);
}

input {
    margin: 10px;
}

label {
    margin-left: 10%;
}

h1 {
    margin-left: 10px;
}